body{
    font-family: 'Montserrat', sans-serif;
}
.contenedor-header{
    display: flex;
    text-align: center;
    background-color: #A6D1D8;
    align-items: center;
    justify-content: space-between;
    
}

.logo{
    width: 125px;
    display: flex;
    margin-left: 25px;
}

.menu-navegacion li{
    display: inline;
    padding-right: 15px;
    font-size: 25px;
}

.menu-navegacion li a:hover{
    color: wheat;
}

.imagen-main{
    width: 100%;
    padding-bottom: 50px;
}

.nosotros{
    width: 70%;
    margin-left: 15%;
    padding-bottom: 50px;
}

.nosotros h2{
    margin-left: 4%;
    font-size: 35px;
    padding-bottom: 40px;
}

.texto-nosotros{
    margin: 0px 20px 0 20px;
    font-size: x-large;
    text-align: center;
    display: inline;
}

.boton{
    margin: 0 auto;
    height: 25px;
    width: 150px;
    border-radius: 25px;
    align-items: center;
}

.contenedor-cards{
    display: flex;
    width: 100%;
    max-width: 1200%;
    height: 430px;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    padding-bottom: 30px;
}

.contenedor-cards .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    
}

.contenedor-cards .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.contenedor-cards .card img{
    width: 330px;
    height: 220px;
}

.contenedor-cards .card h2{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}

.contenedor-cards .card p{
    text-align: center;
}

a {
    text-decoration: none;
    color: #0A154F;    
}

.contenedor-footer{
    background-color: #0A154F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-footer{
    height: 125px;
    justify-content: center;
}

.redes{
    color: antiquewhite;
    display: flex;
    justify-content: center;
    width: 200px;
}


.icono-redes{
    width: 50px;
}

.icono-redes:hover{
    color: #A6D1D8;
}

/*Estilo paginas actividades y destinos*/

.titulo h1{
    text-align: center;
    font-size: 40px;
    padding: 20px 0 40px 0;
    font-weight: bold;
}

.contenedor .actividad{
    padding-bottom: 20px;
    margin-left: 15%;
    width: 50%;
    transition: 0.2s;
}

.contenedor .actividad h2{
    font-size: 25px;
    padding-bottom: 5px;
}

.contenedor .actividad img {
    width: 330px;
    height: 220px;
    padding-bottom: 20px;
}

.contenedor .actividad:hover{
    margin-left: 20%;

}




